@{
    ViewBag.Title = "添加图书类型";
}
@section featured {
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">@ViewBag.Title</strong></div>
    </div>
}
@section scripts {
<script src="~/js/admin/AlertMess.js"></script>
<script src="~/js/admin/doType.js"></script>
}
<div class="am-tabs" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li><a>信息录入</a></li>
    </ul>
    <form class="am-form am-form-horizontal am-text-primary" id="AddForm" action="@Url.Content("~/Type/AddNewType")" method="POST">
        <div class="am-margin-top am-form-group">
            <label class="am-u-sm-2 am-text-right am-form-label">类型代码：</label>
            <div class="am-u-sm-5 am-u-end">
                <input type="text" id="typeCode" name="typeCode" class="am-round am-text-center" placeholder="请输入类型代码" />
                <div>
                    &nbsp;
                    <div id="typeCode_prompt"></div>
                </div>
            </div>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2 am-form-label">类型名称：</label>
            <div class="am-u-sm-5 am-u-end">
                <input type="text" id="typeName" name="typeName" class="am-round am-text-center" placeholder="请输入类型名称" />
                <div>
                    &nbsp;
                    <div id="typeName_prompt"></div>
                </div>
            </div>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2 am-form-label">目录图片：</label>
            <div class="am-u-sm-5 am-u-end">
                <input type="button" value="选择文件..." id="browse" />建议图片大小为：330*470
                <div>
                    &nbsp;<div id="upName"></div>
                </div>
            </div>
            <div class="am-u-sm-5" id="upImg"></div>
        </div>
        <br />
        <div class="am-u-sm-10  am-u-sm-offset-2">
            <button type="button" class="am-btn am-btn-primary" onclick="location.href = 'Index';">
                <span class="am-icon-refresh"></span> 返 回
            </button>
            <button type="submit" class="am-btn am-btn-primary" style="margin-left: 10%">
                <span class="am-icon-external-link"></span> 提 交
            </button>
        </div>
    </form>
</div>
<script src="~/js/lib/plUpload/plupload.full.min.js"></script>
