@{
    ViewBag.Title = "资源整合";
}
@section featured {
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">@ViewBag.Title</strong></div>
    </div>
}
<br />
<div class="am-cf">
    <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-book"></span><br />书籍总量<br />2300</a></li>
        <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-suitcase"></span><br />今日交易<br />305</a></li>
        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-briefcase"></span><br />成交订单<br />3080</a></li>
        <li><a href="#" class="am-text-primary"><span class="am-icon-btn am-icon-user-md"></span><br />注册客户<br />900</a></li>
    </ul>
</div>
<div class="am-cf">
    <div class="am-u-md-12">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-3'}">客户评价<span class="am-icon-chevron-down am-fr"></span></div>
            <div class="am-panel-bd am-collapse am-in am-cf" id="collapse-panel-3">
                <ul class="am-comments-list admin-content-comment">
                    <li class="am-comment">
                        <a href="#"><img src="~/Images/head/a7dd0ae0-b801-446f-9c54-b51abc41f94f.jpg" alt="" class="am-comment-avatar" width="48" height="48"></a>
                        <div class="am-comment-main">
                            <header class="am-comment-hd">
                                <div class="am-comment-meta"><a href="#" class="am-comment-author">clarence</a> 评论于 <time>2016-4-16 15:30</time></div>
                            </header>
                            <div class="am-comment-bd">
                                <p>发货速度够快，整体服务很到位，赞 b(￣▽￣)d</p>
                            </div>
                        </div>
                    </li>

                    <li class="am-comment">
                        <a href="#"><img src="~/Images/head/6bf50c27-a350-495e-aaf0-6e2dc4ccafd9.jpg" alt="" class="am-comment-avatar" width="48" height="48"></a>
                        <div class="am-comment-main">
                            <header class="am-comment-hd">
                                <div class="am-comment-meta"><a href="#" class="am-comment-author">kimi</a> 评论于 <time>2016-4-17 08:30</time></div>
                            </header>
                            <div class="am-comment-bd">
                                <p>书籍没出现排版错乱或漏印，在这里购买足足省了一半的钱，谢谢店家</p>
                            </div>
                        </div>
                    </li>

                    <li class="am-comment">
                        <a href="#"><img src="~/Images/head/9b9374d6-9f83-41e0-8607-871ec9b22a63.jpg" alt="" class="am-comment-avatar" width="48" height="48"></a>
                        <div class="am-comment-main">
                            <header class="am-comment-hd">
                                <div class="am-comment-meta"><a href="#" class="am-comment-author">明明</a> 评论于 <time>2016-4-17 09:38</time></div>
                            </header>
                            <div class="am-comment-bd">
                                <p>this is my love ...</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="am-pagination am-fr admin-content-pagination">
                    <li class="am-disabled"><a href="#">&laquo;</a></li>
                    <li class="am-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>