@{
    Layout = "~/Views/Shared/_Customer.cshtml";
}
<link href="~/Css/admin/index.css" rel="stylesheet" />
<div id="ucenter-content">
    <div class="u-content">
        <!--左边栏-->
        <div class="uMcon">
            <div class="uMcon-item item-person">
                <div class="ulcon"> 
                    @*<span class="ulcon-icon"> 
                        <img src="http://test.fnuo123.com/View/index/img/default/ucenter/umcon-icon-person.png" width="18" height="18" alt="" /> 
                    </span>*@ 
                    <span class="ulcon-text" id="personal-center">个人中心</span> 
                </div>
                <ul class="ucot">
                    <li>
                        <i class="ucot-icon"></i> <span class="ucot-text">交易管理</span> <span class="ucot-show-more"><a href="#" val="1">+</a></span>
                        <ul class="ucot-child" val="1">
                            <li><a class="shopcart" id="gwc">我的购物车</a></li>
                            <li><a href="#" class="xgot myorder" >我的订单</a></li>
                            <li><a href="#" class="xgot evagoods" >评价商品</a></li>
                        </ul>

                    </li>
                    <li>
                        <i class="ucot-icon"></i> <span class="ucot-text">我的资产</span> <span class="ucot-show-more"><a href="#" val="2">+</a></span>
                        <ul class="ucot-child" val="2">
                            <li><a href="#" class="xgot mypoints">我的账户</a></li>
                            <li><a href="#" class="xgot bindapily">绑定支付宝</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="ucot-icon"></i> <span class="ucot-text">会员资料</span> <span class="ucot-show-more"><a href="#" val="4">+</a></span>
                        <ul class="ucot-child" val="4">
                            <li><a href="#" class="xgot personaldata">个人资料</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="ucot-icon"></i> <span class="ucot-text">客户服务</span> <span class="ucot-show-more"><a href="#" val="5">+</a></span>
                        <ul class="ucot-child" val="5">
                            <li><a href="#" onclick="openHelp();" class="xgot onlineconsult">在线咨询</a></li>
                            <li><a href="#" class="xgot mynews">我的消息</a></li>
                            <li><a href="#" class="xgot aftercomplaint">售后申诉</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="ucot-icon"></i> <span class="ucot-text">推广中心</span> <span class="ucot-show-more"><a href="#" val="6">+</a></span>
                        <ul class="ucot-child" val="6">
                            <li><a href="#" class="xgot friendList">好友列表</a></li>
                            <li><a href="#" class="xgot invitefriends">邀请好友</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
        <!--右边栏-->
        <div class="uMain">
            <iframe id="iframepage" name="iframepage" scrolling="no" frameborder="0" style="width:990px;float:left; height:870px; position:relative;" src="/UserAdmin/_first"></iframe>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function(e) {
		$(".ucot-child li a").click(function() {
			$(".ucot-child li a").css("color", "#000");
			$(this).css("color", "#991A0F");
			var title = $(this).text();
			$("#iframepage").attr('src', '/UserAdmin/_sorry?title=' + title);
		});
		$(".ucot li span").click(function () {
		    var ucot_val = 0;
		    var $aim_a = null;
		    if ($(this).hasClass("ucot-show-more")) {
		        ucot_val = $(this).children('a').attr("val");
		        $aim_a = $(this).children('a');
		    } else {
		        ucot_val = $(this).siblings('span').children('a').attr("val");
		        $aim_a = $(this).siblings('span').children('a');
		    }
		    var $aim_child = $(".ucot-child[val='" + ucot_val + "']");
		    if ($aim_child.is(":hidden")) {
		        $aim_child.show("fast");
		        $aim_a.html("-");
		    } else {
		        $aim_child.hide("fast");
		        $aim_a.html("+");
		    }
		});
		$(".xgot").each(function(index, element) {
			var a = $(this);
			if (!a) {
				var rl = $("#").attr("url");
			}
			a.click(function() {
				var xurl = a.attr("url");
				$(".uMjdt").fadeIn("fast");
				$("#iframepage").attr("src", xurl);
				$("#iframepage").load(function() {
					$(".uMjdt").fadeOut("fast");
				})
			});
		});
		$("#personal-center").each(function(index, element) {
			var a = $(this);
			if (!a) {
				var rl = $("#").attr("url"); //alert(xurl);
			}
			a.click(function() {
				var xurl = a.attr("url"); //alert(xurl);
				$(".uMjdt").fadeIn("fast");
				$("#iframepage").attr("src", xurl);
				$("#iframepage").load(function() {
					$(".uMjdt").fadeOut("fast");
				})
			});
		});
		//$("#business-center").each(function(index, element) {
		//	var a = $(this);
		//	if (!a) {
		//		var rl = $("#").attr("url");
		//	}
		//	a.click(function() {
		//		var xurl = a.attr("url");
		//		$(".uMjdt").fadeIn("fast");
		//		$("#iframepage").attr("src", xurl);
		//		$("#iframepage").load(function() {
		//			$(".uMjdt").fadeOut("fast");
		//		})
		//	});
		//});
	});

	//function changeIframeHeight(data) {
	//	$("#iframepage").css({
	//		"height": data
	//	});
	//}
</script>

