<script src="~/js/front/index/indexban.js"></script>
<script src="~/js/front/index/showInfo.js"></script>
<!--左导航栏-->
<div class="z-menu" style="display: block !important;">
    <div class="left-sidebar" style="display:block;">
        <ul id="showTypeList">
            @*<li><a href="/GoodsShow/Index"><div class="left-item1"><i><img src="~/Images/typemenu/xz_2.png" width="18" height="18" /></i> 人文 </div></a></li>*@
        </ul>
    </div>
</div>
<link href="~/Css/index/index.css" rel="stylesheet" type="text/css" />
<div id="foc">
    <div class="wit">
        <!--左导航-->
        <div class="left-side"></div>
        <!--中间店长推荐-->
        <div class="slider-banner">
            <i class="last"> < </i> <i class="next"> > </i>

            <a href="/BookDetail/Index"><img src="http://test.fnuo123.com/Upload/slide/1455505761_0_0.png" /></a>

            <a href="/BookDetail/Index"><img src="http://test.fnuo123.com/Upload/slide/1455505761_0_0.png" /></a>

            <a href="/BookDetail/Index"><img src="http://test.fnuo123.com/Upload/slide/1455505761_0_0.png" /></a>

            <a href="/BookDetail/Index"><img src="http://test.fnuo123.com/Upload/slide/1455505761_0_0.png" /></a><!--~/Images/typeMenu/middle_feng.jpg-->

            <div class="dian">
                <ul class="-h"></ul>
            </div>
        </div>
        <!--右边面板-->
        <ul class="sider-r" id="showNewBook">
            <li class="h1"><span>新书上架</span><a href="javascript:void(0);">更多 ></a></li>
            @*<li class="line1 item" >
                <img src="~/Images/notImage.jpg" alt="孤独小说家" >
                <div>
                    <p class="name" >
                        <a title="孤独小说家" href="~/BookDetail/Index" target="_blank">孤独小说家（十年前的梦想，如果还没有熄灭的话）</a>
                    </p><br />
                    <p class="price">￥35.00</p><br />
                    <p class="yj">￥168.00</p><br />
                </div>
            </li>*@
           
        </ul>
    </div>
</div>
<div id="floor">
    <div class="footbanner">
        <a href="explosion" target="_blank">
            <img src="~/Images/divideShow/divide_1.jpg" />
        </a>
    </div>
</div>
@*畅销书籍和作者*@
<div id="floor">
    <div class="wit">
        <div class="witTop1">
            <div class="f-title" style="width:860px;">
                <i class="f-ticon f-tic1"><em>销</em><img src="~/Images/floor-icon.png" width="36" height="24" alt="" /></i>
                <h2>畅销书籍</h2>
            </div>
            <div class="f-content" style="width:860px;">
                <div class="f-malllist f-mlist1" id="zf_1" style="height:235px;">
                    <ul id="showHotSale">
                        @*<li>
                            <div class="f-mimg f-mimg1">
                                <a href="#" target="_blank">
                                    <img src="~/Images/notImage.jpg" />
                                </a>
                            </div>
                            <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                            <div class="f-mprice f-mprice1">
                                <span>￥35.00</span>
                                <span class="yj">￥168.00</span>
                            </div>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="witTop2">
            <div class="f-title" style="width:320px;">
                <i class="f-ticon f-tic1"><em>作</em><img src="~/Images/floor-icon.png" width="36" height="24" alt="" /></i>
                <h2>优秀作者</h2>
            </div>
            <div class="f-content" style="width:320px;height:235px;">
                <div class="goodAuthor" id="showAuthor">
                    @*<a href="#" target="_blank"> 冰心 </a>
                    <a href="#" target="_blank"> 金庸 </a>
                    <a href="#" target="_blank"> 琼瑶 </a>
                    <a href="#" target="_blank"> 老陈 </a>*@
                    @*<a href="javascript:void(0);" target="_blank">
                        <img src="http://test.fnuo123.com/Upload/slide/1455505761_0_0.jpg" class="img1">
                        <span>话费</span></a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="floor">
    <div class="footbanner">
        <a href="explosion" target="_blank">
            <img src="~/Images/divideShow/divide_3.jpg" />
        </a>
    </div>
</div>
@*人文*@
<div id="floor" v="人文">
    <div class="wit" style="background-color:cornsilk">
        <div class="f-title">
            <i class="f-ticon f-tic1"><em>1F</em><img src="~/Images/floor-icon.png" width="36" height="24" alt="" /></i>
            <h2>人文</h2>
        </div>
        <div class="f-content f-cot1">
            <div class="f-leftside f-ls1">
                <img src="~/Images/bookType/renwen.jpg" width="330" height="470" alt="" />
            </div>
            <div class="f-malllist f-mlist1" id="zf_1">
                <ul>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>


                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="floor">
    <div class="footbanner">
        <a href="explosion" target="_blank">
            <img src="~/Images/divideShow/divide_6.jpg" />
        </a>
    </div>
</div>
@*少儿*@
<div id="floor" v="少儿">
    <div class="wit" style="background-color:lightcyan">
        <div class="f-title">
            <i class="f-ticon f-tic1"><em>2F</em><img src="~/Images/floor-icon.png" width="36" height="24" alt="" /></i>
            <h2>少儿</h2>
        </div>
        <div class="f-content f-cot1">
            <div class="f-leftside f-ls1">
                <img src="~/Images/bookType/shaoer.jpg" width="330" height="470" alt="" />
            </div>
            <div class="f-malllist f-mlist1" id="zf_1">
                <ul>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>


                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="floor">
    <div class="footbanner">
        <a href="explosion" target="_blank">
            <img src="~/Images/divideShow/divide_2.jpg" />
        </a>
    </div>
</div>
@*生活*@
<div id="floor" v="生活">
    <div class="wit" style="background-color:lavenderblush">
        <div class="f-title">
            <i class="f-ticon f-tic1"><em>3F</em><img src="~/Images/floor-icon.png" width="36" height="24" alt="" /></i>
            <h2>生活</h2>
        </div>
        <div class="f-content f-cot1">
            <div class="f-leftside f-ls1">
                <img src="~/Images/bookType/shenghuo.jpg" width="330" height="470" alt="" />
            </div>
            <div class="f-malllist f-mlist1" id="zf_1">
                <ul>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>


                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="floor">
    <div class="footbanner">
        <a href="explosion" target="_blank">
            <img src="~/Images/divideShow/divide_4.jpg" />
        </a>
    </div>
</div>
@*科技*@
<div id="floor" v="科技">
    <div class="wit" style="background-color:lavender">
        <div class="f-title">
            <i class="f-ticon f-tic1"><em>4F</em><img src="~/Images/floor-icon.png" width="36" height="24" alt="" /></i>
            <h2>科技</h2>
        </div>
        <div class="f-content f-cot1">
            <div class="f-leftside f-ls1">
                <img src="~/Images/bookType/keji.jpg" width="330" height="470" alt="" />
            </div>
            <div class="f-malllist f-mlist1" id="zf_1">
                <ul>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>


                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                    <li>
                        <div class="f-mimg f-mimg1">
                            <a href="#" target="_blank">
                                <img src="~/Images/notImage.jpg" />
                            </a>
                        </div>
                        <div class="f-mname f-mname1"> <a href="#" target="_blank">男人脸书</a> </div>
                        <div class="f-mprice f-mprice1">
                            <span>￥35.00</span>
                            <span class="yj">￥168.00</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="floor">
    <div class="footbanner">
        <a href="explosion" target="_blank">
            <img src="~/Images/divideShow/divide_5.jpg" />
        </a>
    </div>
</div>
