@{
    ViewBag.Title = "Index";
}

@section css{
<link rel="stylesheet" href="~/Content/amazeui/css/amazeui.min.css" />
<link rel="stylesheet" href="~/Content/amazeui/css/admin.css">
<style type="text/css" >
    body {
        background-image: url(/Images/LoginBg.jpg);
        background-size:cover;
    }
</style>
}
@section scripts {
    <script src="~/js/admin/AlertMess.js"></script>
    <script src="~/js/admin/doAccount.js"></script>
}
<div style="text-align: center;">
    <div class="am-g am-text-primary" style="margin-top:5%">
        <p class="am-kai" style="font-size:45px;">风 御 轩</p>
        <p class="am-kai" style="font-size:30px;">后台管理系统</p>
        <p>
            <span>模块显示，书籍管理，订单处理，客户评价</span>
        </p>
    </div>
</div>
<div class="am-g">
    <input type="hidden" value="@TempData["mess"]" id="mess" />
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <hr>
        <form method="post" class="am-form" id="loginForm" action="@Url.Content("~/Account/AdminLogin")">
            <label for="text">登录名:</label>
            <input type="text" name="loginId" id="loginId" placeholder="请输入登录名" />
            <br>
            <label for="password">密码:</label>
            <input type="password" name="loginPwd" id="loginPwd" placeholder="请输入登录密码">
            <br />
            <div class="am-cf">
                <input type="submit" value=" 登录后台 " class="am-btn am-btn-primary am-btn-sm am-fl" />
                <input type="button" value=" 返回客户端 " class="am-btn am-btn-default am-btn-sm am-fr" onclick="location.href = '/Home/Index';" />
            </div>
        </form>
    </div>
</div>
<footer class="am-topbar-fixed-bottom">
    <p style="text-align:center">&copy; 2016 ACCP XSF, individual.</p>
</footer>
<script src="~/Content/amazeui/js/jquery.min.js"></script>
<script src="~/Content/amazeui/js/amazeui.min.js"></script>
<script src="~/Content/amazeui/js/app.js"></script>

